@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    ViewBag.Title = "Index";
}
<h1>Webinar Pack – Cyber Security L3</h1>

<p>
    Privacy Statement 2014/15 - How we use your information - The personal information you provide is passed to the Chief Executive of Skills Funding ("the Agency") and, when needed, the Department for Education, including the Education Funding Agency to meet legal responsibilities under the Apprenticeships, Skills, Children and Learning Act 2009, and for the Agency's Learning Records Service (LRS) to create and maintain a unique learning number (ULN) and personal learning record (PLR). The information you provide may be shared with other organisations for education, training, employment and wellbeing related purposes, including for research.

</p>Further information about the use of and access to your personal data, and details of organisations with whom we regularly share data are available at:  https://www.gov.uk/government/publications/sfa-privacy-notice

Form 1 – Learning Agreement

Section 1 – Personal Details

<table>
   <tbody>
       <tr>
           <td>Title</td>
           <td>Mr</td>
       </tr>
       <tr>
           <td>First Name</td>
           <td>Caleb</td>
       </tr>
       <tr>
           <td>Surname</td>
           <td>Dean</td>
       </tr>
       <tr>
           <td>Address</td>
           <td>01 Ocean Road Hartlepool</td>
       </tr>
       <tr>
           <td>Postcode</td>
           <td>TS24 9RH</td>
       </tr>
       <tr>
           <td>Telephone Number Home</td>
           <td>01429 277040</td>
       </tr>
       <tr>
           <td> Telephone Number Mobile</td>
           <td>07923 025995</td>
       </tr>
       <tr>
           <td>Date of Birth</td>
           <td>04/10/1997</td>
       </tr>
       <tr>
           <td>Age</td>
           <td>17</td>
       </tr>
       <tr>
           <td>Email Address</td>
           <td>Caleb.dean@hotmail.co.uk</td>
       </tr>
       <tr>
           <td>National Insurance Number</td>
           <td>PC 43 54 64 D</td>
       </tr>
       <tr>
           <td>Emergency Contact Name</td>
           <td>Lorinda Dean</td>
           </tr>
       <tr>
           <td>Emergency Contact Number:</td>
           <td>07548 531936</td>
   </tbody>
        
</table>


<p>
    Have you been a permanent resident in the UK for the last 3 years?
    Yes
</p>
<p>
    If NO, have you been a resident in any EEA states for the last 3 years?, please state country	Click here to enter text.
</p>
<p>
    If NO, have you been a resident outside the UK/EEA States for the last 3 years, please state which country and the date of entry to the UK
    Click here to enter text.
</p>
<p>
    Have you been resident in the UK/EEA for the last 3 years for the main purpose of full time education?  Please only answer this question if the UK is not your place of birth.
    Click here to enter text.
</p>
<p>
    Do you have a visa to study in the UK?
    No
</p>
<p>

    What is your nationality?
    British
</p>
<p>
    Which Country issued your passport?
    England / United Kingdom
</p>
<p>
    Do you have any restrictions on your stay in the UK?
    No
</p>
<p>
    If YES, what restrictions are they?	Click here to enter text.
</p>
<p>
    Are you an Asylum Seeker or Refugee?
    No
</p>
<p>
    What is your main reason for staying in the UK?
    UK is my home country
</p>








